# coverage reports
/.cover
coverage.txt

# fixtures write `.out` files in their hooks
*.out

.*.sw?
.idea
vendor
.terraform
.terraform.lock.hcl
.vscode
*.tfstate
*.tfstate.backup
dist
*.test

terragrunt
