name: Pull Request
on:
  pull_request:
    branches:
      - master
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        terraform: ["1.0.2"]
    steps:
      - name: Setup Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.13
        id: go

      - name: Checkout
        uses: actions/checkout@v1

      - name: Install Terraform
        run: |
          wget https://releases.hashicorp.com/terraform/${{ matrix.terraform }}/terraform_${{ matrix.terraform }}_linux_amd64.zip -O /tmp/terraform.zip
          sudo unzip -o -d /usr/local/bin/ /tmp/terraform.zip

      - name: Run static checks
        run: |
          export PATH=$PATH:$(go env GOPATH)/bin
          make static

      - name: Generate code coverage files
        run: make codecov

      - name: Upload to codecov
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.txt
          fail_ci_if_error: true
